services:
  msw-kpi-conversion:
    build: .
    volumes:
      - ./src:/src
    ports:
      - 8080:8080
    env_file:
      - ./.env
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8080", "--reload"]
